<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Visitor Logs PDF</title>
  <style>
    body { font-family: Arial, sans-serif; }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ccc; padding: 6px; font-size: 12px; }
    th { background: #eee; }
  </style>
</head>
<body>
  <h2>Visitor Logs</h2>
  <table>
    <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Purpose</th>
          <th>Person to Visit</th>
          <th>Check-In</th>
          <th>Check-Out</th>
          <th>Code</th>
          <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
            <tr>
              <td>{{ loop.index }}</th>
              <td>{{ log.name }}</td>
              <td>{{ log.email }}</td>
              <td>{{ log.number }}</td>
              <td>{{ log.purpose }}</td>
              <td>{{ log.person_to_visit }}</td>
              <td>
                <span class="status-badge status-in">{{ log.check_in_time | ph_time_only if log.check_in_time else '—' }}</span>
              </td>
              <td>
                <span class="status-badge status-out">{{ log.check_out_time | ph_time_only if log.check_out_time else '—' }}</span>
              </td>
              <td>{{ log.unique_code }}</td>
               <td>
                {% if log.visit_date %}
                  {{ log.visit_date.strftime('%B %d, %Y') }}
                {% else %}
                  —
                {% endif %}
              </td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>